  
#EditToolsLayout {
    width: 100%;
    height: calc(50% - 20px);
    padding: 0px;
    margin-top: 20px;
}

#EditToolsLayoutTitle {
    margin: 3px;
    width: 100%;
    height: 20px;
    border-bottom: 1px solid #e6e6e6;
}

#SuggestedWordsList {
    width: 33%;
    height: calc(100% - 100px);
    margin-left: 2%;
    margin: auto;
}

#SuggestWordsTitle {
    font-size: 13px;
    height: 20px;
}

#SuggestedAnswerList {

}